body {
    min-width: 20em;
}

#mode ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    #show-all {
        /*not working*/
        display: none;
    }
}

/*fold*/
.hide-me {
    display: none;
}
.foldable input[type="checkbox"]:checked + .hide-me,
.foldable:hover .hide-me{
    display:revert; 
}
.foldable h1{
    display: inline-block;
}

/*sections*/
.meta-group{
    background-color:Gainsboro;
}
.meta-group:nth-child(2n){
    background-color: whitesmoke;
}

#setup {

    /*create*/
    .for-create {
         display:none;
        .for-day, .for-week, .for-meta, .for-meta-starts-with {
            display: none;
        }
        input[type="radio"]#meta:checked ~ .for-meta,
        input[type="radio"]#meta-starts-with:checked ~ .for-meta-starts-with,
        input[type="radio"]#day:checked ~ .for-day
        {
            display:revert;   
        }
    }
    input[type="radio"]#create:checked ~ .for-create {
        display: revert;
    }

    /*delete*/
    .for-delete {
        display:none;
    }
    input[type="radio"]#delete:checked ~ .for-delete {
        display: revert;
    }

    /*submit buttons*/
    
    input[type="submit"] {
        display:none;
    }

    input[type="submit"][name="set-today"],
    
    :has(input[type="radio"][name="week"]:checked) 
        ~ :has(input[type="radio"][name="day"]:checked)
              ~ * input[type="submit"][name="set-day"],

    :has(input[type="text"][name="meta-name"]:valid)
        ~ :has(input[type="text"][name="meta-starts-with"]:valid)
              ~ * input[type="submit"][name="set-meta-starts-with"],

    :has(input[type="text"][name="meta-name"]:valid)
        ~ * input[type="submit"][name="set-meta"]
        
    {
        display: revert;
    }

    /*  */
}

/*experimental — manual options for now*/
.sleep button {background: pink;}
#make-discardable-hidden, #discard-hidden, #request-discard{
    display: none; /*not yet implemented*/
}
