body {
    min-width: 20em;
}

/*fold*/
input[type="checkbox"]:not(:checked) + .hide-me{
    display:none;
}
.foldable h1{
    display: inline-block;
}

/*section*/
.meta-group{
    background-color:Gainsboro;
}
.meta-group:nth-child(2n){
    background-color: whitesmoke;
}

#setup {

    /*create*/
    .for-create {
         display:none;
        .for-day, .for-week, .for-meta {
            display: none;
        }
        input[type="radio"]#meta:checked ~ .for-meta {
            display:block;
        }
        input[type="radio"]#day:checked ~ .for-day {
            display:block;   
        }
    }
    input[type="radio"]#create:checked ~ .for-create {
        display: block;
    }

    /*delete*/
    .for-delete {
        display:none;
    }
    input[type="radio"]#delete:checked ~ .for-delete {
        display: block;
    }

    /*submit bottons*/
    
    input[type="submit"] {
        display:none;
    }
    
    :has(input[type="radio"][name="week"]:checked) 
        ~ :has(input[type="radio"][name="day"]:checked)
              ~ * input[type="submit"][name="set-day"] ,
    
    :has(input[type="text"][name="meta-name"]:valid)
        ~ * input[type="submit"][name="set-meta"]

    {
        display: block;
    }

    /*  */
}
